{# Cart Add Success Popup - Full Screen Modal #}
<div id="cart-popup-modal" class="cart-popup-overlay" style="display: none;">
  <div class="cart-popup-container" id="cart-popup-content">
    {# Content will be injected here from server #}
  </div>
</div>

